html {
  background-color: #1f2229;
  color: rgb(173, 168, 168);
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
}

.App-header {
  padding:30px;
  max-height: 100vh;
  min-width: 50vw;
}

.team-list {
  padding-top: 30px;
  padding-right: 30px;
  text-align: left;
  display: inline-block;
}




