.App {
  text-align: center;
  background-color: #1f2229;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
}

.App-header {
  padding:30px;
  max-height: 100vh;
  min-width: 50vw;
}




